<div class="container">
  <h2>People of interest:</h2>

<ol>
    <% @people.each do |person|%>
      <li>
      <span class="alt-color1"><%= person.name %></span> 
      <b>|</b> 
      <span class="alt-color2"><%= person.specialty %></span> 
      <a href="/people/<%= person.id %>" class="rotate glyphicon glyphicon-cog"></a></li>   
    <% end %>
</ol>
<p><%= link_to "New", "/people/new" %></p>
</div>