@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap/theme";

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin box-shadow($top, $left, $blur, $color, $inset:"") {
  -webkit-box-shadow:$top $left $blur $color #{$inset};
    -moz-box-shadow:$top $left $blur $color #{$inset};
      -ms-box-shadow:$top $left $blur $color #{$inset};
          box-shadow:$top $left $blur $color #{$inset};
}

body {
  font-size: 2.3em; 
  margin: 0 auto;
}

.container ul {
  list-style-type: none;
}

h2 {
  text-align: center;
  margin: 1.3em auto;
}

.glyphicon-cog, .glyphicon-trash, .glyphicon-envelope {
  //vertical-align: middle;
  font-size: .8em;
  color: #AFADB1;
  padding: 0;
}
.glyphicon-cog:hover {
  text-decoration: none;
}

th, td {
  text-align: center;
}

.alt-color1 {
  color: #313E5B;
}

.alt-color2 {
  color: #660609;
}

ol {
  padding-left: 1.4em;
}

.error {
  color: red;
}

.form-control {
  width: 18em;
}

.rotate:hover {
    -webkit-animation: rotate 2s forwards;
    animation: rotate 2s forwards;
}
@-webkit-keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}
.tr, td {
  border: none !important;
}

.data-row {
  border: none;
  margin-bottom: .2em;
  //border-bottom: 3px solid #FFF;
  background-color: #FFB46C;
  width: 100%;
  @include border-radius(10px);
}



